
:root{

    --color-beige: #FFFBEB;
    --color-light-blue: #ECF9FF;
    --color-light-coral: #FFE7CC;
    --color-orange-pinkish: #F8CBA6;

}

body{
    margin: 0px;
    background-color: var(--color-light-blue);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h1{

    margin-block-start: 0em;
    margin-block-end: 0em;
}

hr {
    border-style: dotted none none none;
    border-color: var(--color-orange-pinkish);
    width: 5%;
    border-width: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#top-name{
    font-family: 'Twinkle Star', cursive;
    font-size: xx-large;
    margin-top: 25px;

}

.bottom-container{
    position: relative;
    top: 100%;
    text-align: center;

}
.bottom-find-me{
    position: relative;


}



.bottom-info{
    margin-top: 20px;
    position: relative;
}

.contact-image{
    position: relative;
    left: -5%;
    
}

.contact-text{
        display: inline-block;
        position: absolute;
        top: 20%;
        left: 50%;
        width: 500px;
}

.div-central {
    width: 500px;
    height: 450px;
    position: relative;
    margin: 0 auto 10px auto;
    /* border: 1px solid; */


}


.inuyasha-logo-en{

    position: absolute;
    width: 30%;
    top: 3%;
    right: 53%;

}

.inuyasha-logo-jp{

    position: absolute;
    width: 30%;
    top: 85%;
    left: 60%;

}

.kagome-bg{
    max-width:100%;
    max-height:100%;

    position: absolute;
    left: 15%;
}

.middle-container{
    position: relative;
    top: 50%;

}

.profile {

    position: relative;
    display: block;
}


.profile-image{
    position: relative;
    display: inline-block;
    left: -20%;
    bottom: 0;

}


.profile-info{

    display: inline-block;
    width: 1200px;
    text-align: center;
}

.profile-text{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 600px;
    text-align: justify;
}

.top_head{


    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 5  px;
    padding-bottom: 10px;

}



















